.container {
  max-width: 1240px;
  margin: 0 auto; }

h2 {
  margin: 0; }

.sizer1 {
  width: 25%; }

body {
  margin: 0 auto;
  padding: 0;
  font-family: 'Open Sans', sans-serif; }
  body .ph-header {
    width: 100%;
    height: 100vh;
    background-image: url(../images/background.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
    body .ph-header .ph-header-content {
      width: 100%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center; }
      body .ph-header .ph-header-content .ph-header-navigation {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        width: 100%; }
        body .ph-header .ph-header-content .ph-header-navigation .navigation_logo a {
          text-transform: uppercase;
          text-decoration: none;
          color: white;
          font-size: 30px;
          font-weight: 900;
          letter-spacing: 1px; }
        body .ph-header .ph-header-content .ph-header-navigation .navigation-menu {
          width: 50%;
          list-style: none;
          display: flex;
          justify-content: space-around;
          padding: 0;
          margin: 0; }
          body .ph-header .ph-header-content .ph-header-navigation .navigation-menu .menu-item {
            display: flex;
            justify-content: space-between; }
            body .ph-header .ph-header-content .ph-header-navigation .navigation-menu .menu-item a {
              text-decoration: none;
              color: white;
              font-size: 16px;
              display: block;
              width: 100%;
              border: 1px solid white;
              padding: 10px 20px;
              border-radius: 20px; }
      body .ph-header .ph-header-content .header-info {
        text-align: center;
        color: white; }
        body .ph-header .ph-header-content .header-info h1 {
          font-size: 35px;
          text-transform: uppercase;
          letter-spacing: 7px;
          font-weight: 300; }
      body .ph-header .ph-header-content #header-down {
        width: 50px;
        height: 50px;
        background-color: #19bd9a;
        border-radius: 50%;
        display: block;
        margin-bottom: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none; }
        body .ph-header .ph-header-content #header-down .fa-angle-down {
          color: white; }
  body #portfolio {
    width: 100%;
    height: auto;
    background-color: #F0F0F0;
    padding-bottom: 70px; }
    body #portfolio .portfolio-info {
      width: 50%;
      margin: 0 auto;
      text-align: center; }
      body #portfolio .portfolio-info #filter {
        margin: 70px auto;
        list-style: none;
        display: flex;
        width: 70%;
        justify-content: space-around;
        padding: 0; }
      body #portfolio .portfolio-info h2 {
        font-family: 'Source Sans Pro', sans-serif;
        text-transform: uppercase;
        color: #333b46;
        font-weight: 300;
        letter-spacing: 3px;
        font-size: 2em;
        margin: 0;
        padding: 70px 0; }
      body #portfolio .portfolio-info p {
        color: #81868e;
        font-size: 14px;
        margin: 0;
        line-height: 28px; }
    body #portfolio #gallery .item-masonry img {
      display: block;
      vertical-align: middle;
      width: 100%; }
  body #team {
    width: 100%;
    height: 100vh;
    background-color: #FCFCFC; }
    body #team .team-info {
      width: 50%;
      margin: 0 auto;
      text-align: center; }
      body #team .team-info h2 {
        margin: 0;
        padding: 70px 0px 40px 0;
        color: #333b46;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-size: 2em; }
      body #team .team-info p {
        color: #81868e;
        margin: 0;
        line-height: 28px;
        font-size: 14px; }
    body #team .slider .slider-item {
      display: flex;
      justify-content: space-between;
      margin-top: 50px; }
      body #team .slider .slider-item .slider-item__info {
        width: 50%;
        text-align: right; }
        body #team .slider .slider-item .slider-item__info h3 {
          color: #464646;
          font-weight: 300;
          font-family: 'Source Sans Pro';
          font-style: italic;
          text-transform: uppercase; }
        body #team .slider .slider-item .slider-item__info p {
          color: #81868e; }
  body #contact-form {
    margin-top: 150px;
    width: 100%;
    height: 200px;
    background-image: url(../images/Layer%20104.jpg);
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    body #contact-form #contact-us {
      text-decoration: none;
      color: white;
      border: 1px solid white;
      border-radius: 25px;
      padding: 10px 20px; }
    body #contact-form p {
      font-size: 20px;
      letter-spacing: 2px; }
  body #comments {
    width: 100%;
    height: 100vh;
    background-color: #F0F0F0;
    padding-bottom: 150px; }
    body #comments .comments-info {
      text-align: center; }
      body #comments .comments-info h2 {
        text-transform: uppercase;
        font-size: 2em;
        letter-spacing: 5px;
        color: #333b46;
        padding: 70px 0;
        font-weight: 300;
        margin: 0; }
      body #comments .comments-info p {
        margin: 0 auto;
        width: 50%;
        padding-bottom: 70px; }
    body #comments .white {
      background-color: white;
      width: 100%;
      padding: 50px; }
      body #comments .white .slider-item__description {
        width: 70%;
        float: right; }
        body #comments .white .slider-item__description #name {
          color: #19bd9a; }
  body .ph-footer {
    width: 100%;
    height: 100vh;
    background-color: #FCFCFC; }
    body .ph-footer .map-info {
      width: 50%;
      text-align: center;
      margin: 0 auto;
      padding-top: 100px; }
      body .ph-footer .map-info h2 {
        color: #333b46;
        font-weight: 300;
        font-family: 'Source Sans Pro';
        text-transform: uppercase;
        letter-spacing: 4px; }

/*# sourceMappingURL=style.css.map */